body{
    background-color: pink;
}


.my_div{
    color: yellow;
    border: solid red 3px;
    background-color: black;
    margin: 20px;
    margin-right: 100px;
    padding: 20px;
    text-align: justify;
}

.menu{
    list-style-type: none;
    font-size: 25px;
    text-transform: uppercase;
    border-left:  solid gray 20px;
    border-top: dotted gray 3px;
    width:30%
}

/*обращение к селектору по потомку
выберет внутри класса menu все теги li*/
.menu li{
    margin: 10px;
}

.menu li:hover{
    background-color: brown;
}

.menu li a{
    text-decoration: none;
    color:black;
}

.content{
    border: solid black 3px;
    position: relative;
    width: 550px;
    height: 550px;
}
.red{
    width: 100px;
    height: 90px;
    background-color: red;
    left:50px;
    top: 50px;
}
.blue{
    width: 100px;
    height: 190px;
    background-color: blue;
    left:50px;
    bottom: 50px;
}
.green{
    width: 300px;
    height: 270px;
    background-color:green;
    right:50px;
    top: 50px;
}
.yellow{
    width: 300px;
    height: 90px;
    background-color:yellow;
    right:50px;
    bottom: 50px;
}
.content div{
    border: solid black 3px;
    position: absolute;
}



